/* Entire website formatting */

/* Nav */
#nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Scroll down animations */
.scroll-down {
	position: absolute;
	left: 49%;
	bottom: 7%;
	display: block;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 1em;
  height: 1em;
  border-bottom: 2px solid #fac805;
  border-right: 2px solid #fac805;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}

#downBtn {
  padding-top: 5vh;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY();
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*display settings*/
#choicePicks {
  display: block;
}

#recommendations {
  display: none;
}

#librarian {
  display: none;
}

#nominations {
  display: none;
}

/* basic header styling */
.header {
  height: 91vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* logo styling */
#CCPLLogo {
  width: 100%;
}

/*Styling of the Title of the Website (Carmel Clay Public Library) */
#title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Serif, Sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: calc(5vh + 2vmin);
}

/* Progress Bar */
#myProgress {
  position: fixed;
  width: 100%;
  background-color: grey;
  display: none;
  z-index: 1;
}

#myBar {
  width: 0%;
  height: .5vh;
  background-color: green;
  display: none;
  z-index: 1;
}

/* Makes cursor clickable on links */
a {
  cursor: pointer;
}

/* sidebar styling */
.sidenav {
  width: 100vh;
  height: auto;
  position: relative;
  z-index: 0;
  text-align: left;
  background: #eee;
}

.sidenav a {
  text-decoration: none;
  font-size: 3vh;
  color: #2196F3;
  display: block;
}

.mainbar {
  position: relative;
  width: 100vh;
  z-index: 0;
  background: #eee;
}

/* book component */
.book {
  background-color: #7c3636;
  float: left;
  bottom: 20%;
  border-radius: 5%;
  width: 30%;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 5vh;
  
}

.float-picture {
  text-align: center;
  border-radius: 8%;
  margin-left: 20%;
  padding: 2%;
  width: 30vh;
  height: 60vh;
  background-color: #daafaf;
}

/* up button */
.upbtn {
  position: fixed;
  bottom: 2em;
  right: 3em;
  border-radius: 5vh;
  background: #4c76c0;
  padding: 1em;
  z-index: 3;
  display: none;
}

/* content */
.content1 {
  padding-top: 5vh;
  padding-bottom: 7.5vh;
  min-width: 100%;
  text-align: center;
  vertical-align: middle;
  min-height: 50vh;
}

/* clickable view */
.moreInfoBox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* login page handler */
#login {
  display: block;
}

#loginContent {
  display: none;
}

.clickableView {
  z-index: 4;
  background-color: grey;
  width: 50%;
  height: 70%;
  display: none;
}

/* #transparentBtn {
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
} */