/* Entire website formatting */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  border-radius: 2vh;
}

::-webkit-scrollbar-thumb {
  background: burlywood; 
  border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
}

/*display settings*/
#choicePicks {
  display: block;
}

#recommendations {
  display: none;
}

#librarian {
  display: none;
}

#nominations {
  display: none;
}

/* basic header styling */
.header {
  position: relative;
  top: 0;
  background-color: #102959;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* basic Nav bar styling */
#NavBar {
  width : 100%;
  text-align: center;
  background-color: #102959;
  vertical-align: top;
  position: relative;
  top: -25vh;
  border-top: solid white;
}

/* Styling for buttons in the navbar */
/*Note to seperate if more buttons added not in navbar */
button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
  border: none;
  background-color: #102959;
  color: white;
  text-align: center;
  position: relative;
  top: -0.75vh; 
  font-size: 3vh;
}

/*Styling of the Title of the Website (Carmel Clay Public Library) */
#Title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Serif, Sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  top: -15vh;
  font-size: calc(30px + 2vmin);

}

/*Styling of the website logo */
#logo {
  height: 10vh;
  margin-left: -150vh;
  margin-top: 3.5vh;
}


/* basic footer styling */
footer {
  position: fixed;
  z-index: 2;
  bottom:0;
  left:0;
  right:0;
  background-color: #102959;
  max-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* sidebar styling */
.sidenav {
  width: 30vh;
  position: relative;
  z-index: 1;
  top: 1vh;
  left: 1vh;
  background: #eee;
}

.sidenav a {
  text-decoration: none;
  font-size: 3vh;
  color: #2196F3;
  display: block;
}

.mainbar {
  position: relative;
  width: 170vh;
  z-index: 1;
  top: -11vh;
  left: 35vh;
  background: #eee;
}

/* book component */
.book {
  background-color: #7c3636;
  float: left;
  bottom: 20%;
  border-radius: 5%;
  width: 30%;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 5vh;
  
}

.float-picture {
  text-align: center;
  border-radius: 8%;
  margin-left: 20%;
  padding: 2%;
  width: 30vh;
  height: 60vh;
  background-color: #daafaf;
}

/* up button */
.upbtn {
  position: fixed;
  bottom: 2em;
  right: 3em;
  border-radius: 5vh;
  background: #4c76c0;
  padding: 1em;
  z-index: 3;
  display: none;
}

/* Progress Bar */
#myProgress {
  width: 100%;
  background-color: grey;
  display: none;
}

#myBar {
  width: 0%;
  height: 1.5vh;
  background-color: green;
  display: none;
}

/* clickable view */
.moreInfoBox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* login page handler */
#login {
  display: block;
}

#loginContent {
  display: none;
}

/* random stuff */
#logo {
  width: 15vh;
  height: 10vh;
  z-index: 5;
}

/* .clickableView {
  z-index: 4;
  background-color: grey;
  width: 50%;
  height: 70%;
  display: none;
}

#transparentBtn {
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
} */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}